{% extends 'base_auth.html' %}

{% load static%}

{% block title %}Password Recevery{% endblock %}

{% block heading %}PASSWORD RECOVER{% endblock %}

{% block simple-explain %}Please fill the form to recover your password{% endblock %}

{% block content %}
<p>
    Enter your email address and your password will be reset and emailed to you.
</p>
<form action="." id="loginForm" method="post">{% csrf_token %}
    <div class="form-group">
        <label class="control-label" for="username">Email</label>
        <input type="text" placeholder="example@gmail.com" title="Please enter you email adress" required="" value=""
               name="username" id="username" class="form-control">
        <span class="help-block small">Your registered email address</span>
    </div>

    <button class="btn btn-success btn-block">Reset password</button>
</form>
{% endblock %}
