{% extends 'base.html' %}

{% load static%}

{% block title %}Home{% endblock %}

{% block extra-style %}
<link rel="stylesheet" href="/static/css/c3/c3.min.css">
{% endblock %}

{% block content %}
<div class="charts-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width:100%;">
                <div class="charts-single-pro responsive-mg-b-30">
                    <div class="alert-title">
                        <h2>도시별 도서관의 수</h2>
                        <p>전국 도서관 표준 데이터를 기반으로 도시별 도서관의 수를 시각화한 bar chart 입니다.</p>
                    </div>
                    <div id="bar1-chart">
                        <canvas id="barchart1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pie-bar-line-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="sparkline10-list">
                    <div class="sparkline10-hd">
                        <div class="alert-title">
                            <h2>도시별 도서수 합계 비율 </h2>
                        </div>
                    </div>
                    <div class="sparkline10-graph">
                        <div id="pie1"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="sparkline10-list">
                    <div class="sparkline10-hd">
                        <div class="alert-title">
                            <h2 class="gun-pie">구역별 도서수 합계 비율 </h2>
                        </div>
                    </div>
                    <div class="sparkline10-graph">
                        <div id="pie2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-sales-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="product-sales-chart">
                    <div class="portlet-title">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="caption pro-sl-hd">
                                    <span class="caption-subject"><b>University Earnings</b></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="actions graph-rp graph-rp-dl">
                                    <p>All Earnings are in million $</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline cus-product-sl-rp">
                        <li>
                            <h5><i class="fa fa-circle" style="color: #006DF0;"></i>CSE</h5>
                        </li>
                        <li>
                            <h5><i class="fa fa-circle" style="color: #933EC5;"></i>Accounting</h5>
                        </li>
                        <li>
                            <h5><i class="fa fa-circle" style="color: #65b12d;"></i>Electrical</h5>
                        </li>
                    </ul>
                    <div id="extra-area-chart" style="height: 356px;"></div>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div
                    class="white-box analytics-info-cs mg-b-10 res-mg-b-30 res-mg-t-30 table-mg-t-pro-n tb-sm-res-d-n dk-res-t-d-n">
                    <h3 class="box-title">Total Visit</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash"></div>
                        </li>
                        <li class="text-right sp-cn-r"><i class="fa fa-level-up" aria-hidden="true"></i> <span
                                class="counter text-success">1500</span></li>
                    </ul>
                </div>
                <div class="white-box analytics-info-cs mg-b-10 res-mg-b-30 tb-sm-res-d-n dk-res-t-d-n">
                    <h3 class="box-title">Page Views</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash2"></div>
                        </li>
                        <li class="text-right graph-two-ctn"><i class="fa fa-level-up" aria-hidden="true"></i> <span
                                class="counter text-purple">3000</span></li>
                    </ul>
                </div>
                <div class="white-box analytics-info-cs mg-b-10 res-mg-b-30 tb-sm-res-d-n dk-res-t-d-n">
                    <h3 class="box-title">Unique Visitor</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash3"></div>
                        </li>
                        <li class="text-right graph-three-ctn"><i class="fa fa-level-up" aria-hidden="true"></i>
                            <span class="counter text-info">5000</span>
                        </li>
                    </ul>
                </div>
                <div class="white-box analytics-info-cs table-dis-n-pro tb-sm-res-d-n dk-res-t-d-n">
                    <h3 class="box-title">Bounce Rate</h3>
                    <ul class="list-inline two-part-sp">
                        <li>
                            <div id="sparklinedash4"></div>
                        </li>
                        <li class="text-right graph-four-ctn"><i class="fa fa-level-down" aria-hidden="true"></i>
                            <span class="text-danger"><span class="counter">18</span>%</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="library-book-area mg-t-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="single-review-st-item res-mg-t-30 table-mg-t-pro-n">
                    <div class="single-review-st-hd">
                        <h2>Reviews</h2>
                    </div>
                    <div class="single-review-st-text">
                        <img src="/static/img/customized/library-icon.png" alt="도서관 아이콘">
                        <div class="review-ctn-hf">
                            <h3>도서관 1</h3>
                            <p>Highly recommend</p>
                        </div>
                        <div class="review-item-rating">
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star-half"></i>
                        </div>
                    </div>
                    <div class="single-review-st-text">
                        <img src="/static/img/customized/library-icon.png" alt="도서관 아이콘">
                        <div class="review-ctn-hf">
                            <h3>도서관 2</h3>
                            <p>Awesome Pro</p>
                        </div>
                        <div class="review-item-rating">
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star-half"></i>
                        </div>
                    </div>
                    <div class="single-review-st-text">
                        <img src="/static/img/customized/library-icon.png" alt="도서관 아이콘">
                        <div class="review-ctn-hf">
                            <h3>도서관 3</h3>
                            <p>Great Website</p>
                        </div>
                        <div class="review-item-rating">
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star-half"></i>
                        </div>
                    </div>
                    <div class="single-review-st-text">
                        <img src="/static/img/customized/library-icon.png" alt="도서관 아이콘">
                        <div class="review-ctn-hf">
                            <h3>도서관 4</h3>
                            <p>That's Good</p>
                        </div>
                        <div class="review-item-rating">
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star-half"></i>
                        </div>
                    </div>
                    <div class="single-review-st-text">
                        <img src="/static/img/customized/library-icon.png" alt="도서관 아이콘">
                        <div class="review-ctn-hf">
                            <h3>도서관 5</h3>
                            <p>Highly recommend</p>
                        </div>
                        <div class="review-item-rating">
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star-half"></i>
                        </div>
                    </div>
                    <div class="single-review-st-text">
                        <img src="/static/img/customized/library-icon.png" alt="도서관 아이콘">
                        <div class="review-ctn-hf">
                            <h3>도서관 6</h3>
                            <p>Sei Hoise bro</p>
                        </div>
                        <div class="review-item-rating">
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star"></i>
                            <i class="educate-icon educate-star-half"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="white-box res-mg-t-30 table-mg-t-pro-n">
                    <h3 class="box-title">Visits from countries</h3>
                    <ul class="country-state">
                        <li>
                            <h2><span class="counter">1250</span></h2> <small>From Australia</small>
                            <div class="pull-right">75% <i class="fa fa-level-up text-danger ctn-ic-1"></i></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-danger ctn-vs-1" role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:75%;">
                                    <span class="sr-only">75% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2><span class="counter">1050</span></h2> <small>From USA</small>
                            <div class="pull-right">48% <i class="fa fa-level-up text-success ctn-ic-2"></i></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-info ctn-vs-2" role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:48%;">
                                    <span class="sr-only">48% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2><span class="counter">6350</span></h2> <small>From Canada</small>
                            <div class="pull-right">55% <i class="fa fa-level-up text-success ctn-ic-3"></i></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success ctn-vs-3" role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:55%;">
                                    <span class="sr-only">55% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2><span class="counter">950</span></h2> <small>From India</small>
                            <div class="pull-right">33% <i class="fa fa-level-down text-success ctn-ic-4"></i></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-success ctn-vs-4" role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:33%;">
                                    <span class="sr-only">33% Complete</span>
                                </div>
                            </div>
                        </li>
                        <li>
                            <h2><span class="counter">3250</span></h2> <small>From Bangladesh</small>
                            <div class="pull-right">60% <i class="fa fa-level-up text-success ctn-ic-5"></i></div>
                            <div class="progress">
                                <div class="progress-bar progress-bar-inverse ctn-vs-5" role="progressbar"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:60%;">
                                    <span class="sr-only">60% Complete</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-sales-area mg-tb-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div class="product-sales-chart">
                    <div class="portlet-title">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="caption pro-sl-hd">
                                    <span class="caption-subject"><b>Adminsion Statistic</b></span>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="actions graph-rp actions-graph-rp">
                                    <a href="#" class="btn btn-dark btn-circle active tip-top" data-toggle="tooltip"
                                        title="Refresh">
                                        <i class="fa fa-reply" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="btn btn-blue-grey btn-circle active tip-top"
                                        data-toggle="tooltip" title="Delete">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-inline cus-product-sl-rp">
                        <li>
                            <h5><i class="fa fa-circle" style="color: #006DF0;"></i>Python</h5>
                        </li>
                        <li>
                            <h5><i class="fa fa-circle" style="color: #933EC5;"></i>PHP</h5>
                        </li>
                        <li>
                            <h5><i class="fa fa-circle" style="color: #65b12d;"></i>Java</h5>
                        </li>
                    </ul>
                    <div id="morris-area-chart"></div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div
                    class="analysis-progrebar res-mg-t-30 mg-ub-10 res-mg-b-30 table-mg-t-pro-n tb-sm-res-d-n dk-res-t-d-n">
                    <div class="analysis-progrebar-content">
                        <h5>Usage</h5>
                        <h2 class="storage-right"><span class="counter">90</span>%</h2>
                        <div class="progress progress-mini ug-1">
                            <div style="width: 68%;" class="progress-bar"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 1:32 pm.</p>
                        </div>
                    </div>
                </div>
                <div class="analysis-progrebar reso-mg-b-30 res-mg-b-30 mg-ub-10 tb-sm-res-d-n dk-res-t-d-n">
                    <div class="analysis-progrebar-content">
                        <h5>Memory</h5>
                        <h2 class="storage-right"><span class="counter">70</span>%</h2>
                        <div class="progress progress-mini ug-2">
                            <div style="width: 78%;" class="progress-bar"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 12:32 pm.</p>
                        </div>
                    </div>
                </div>
                <div
                    class="analysis-progrebar reso-mg-b-30 res-mg-b-30 res-mg-t-30 mg-ub-10 tb-sm-res-d-n dk-res-t-d-n">
                    <div class="analysis-progrebar-content">
                        <h5>Data</h5>
                        <h2 class="storage-right"><span class="counter">50</span>%</h2>
                        <div class="progress progress-mini ug-3">
                            <div style="width: 38%;" class="progress-bar progress-bar-danger"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 8:32 pm.</p>
                        </div>
                    </div>
                </div>
                <div class="analysis-progrebar res-mg-t-30 table-dis-n-pro tb-sm-res-d-n dk-res-t-d-n">
                    <div class="analysis-progrebar-content">
                        <h5>Space</h5>
                        <h2 class="storage-right"><span class="counter">40</span>%</h2>
                        <div class="progress progress-mini ug-4">
                            <div style="width: 28%;" class="progress-bar progress-bar-danger"></div>
                        </div>
                        <div class="m-t-sm small">
                            <p>Server down since 5:32 pm.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra-script %}
<script src="/static/js/charts/Chart.js"></script>
<script src="/static/js/c3-charts/d3.min.js"></script>
<script src="/static/js/c3-charts/c3.min.js"></script>
<script src="/static/js/c3-charts/c3-active.js"></script>

<script>
    "use strict";

    $(function () {
        let w;

        $.ajax({
            "url": "/all",
            "method": "GET",
            "dataType": "json",
            "success": function (data, status, xhr) {
                let label = []
                let dataset = []
                for (let i = 0; i < data.length; i++) {
                    label.push(data[i]['sido_nm']);
                    dataset.push(data[i]['count']);
                }
                let ctx = document.getElementById("barchart1");
                let barchart1 = new Chart(ctx, {
                    type: 'bar',
                    data: {
                        labels: label,
                        datasets: [{
                            label: '도서관 수',
                            data: dataset,
                            backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)',
                                'rgba(255, 159, 64, 0.2)',
                                'rgba(230, 62, 91, 0.2)',
                                'rgba(242, 98, 121, 0.2)',
                                'rgba(75, 37, 109, 0.2)',
                                'rgba(63, 100, 126, 0.2)',
                                'rgba(82, 204, 206, 0.2)',
                                'rgba(140, 212, 122, 0.2)',
                                'rgba(160, 158, 214, 0.2)',
                                'rgba(246, 143, 160, 0.2)',
                                'rgba(210, 105, 30, 0.2)',
                                'rgba(180, 168, 81, 0.2)',
                                'rgba(195, 54, 44, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)',
                                'rgba(230, 62, 91, 1)',
                                'rgba(242, 98, 121, 1)',
                                'rgba(75, 37, 109, 1)',
                                'rgba(63, 100, 126, 1)',
                                'rgba(82, 204, 206, 1)',
                                'rgba(140, 212, 122, 1)',
                                'rgba(160, 158, 214, 1)',
                                'rgba(246, 143, 160, 1)',
                                'rgba(210, 105, 30, 1)',
                                'rgba(180, 168, 81, 1)',
                                'rgba(195, 54, 44, 1)'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
            },
            "error": function (xhr, status) {
                alert(status);
            }
        });

        $.ajax({
            "url": "/si",
            "method": "GET",
            "dataType": "json",
            "success": function (data, status, xhr) {
                let dataset = [];
                for (let i = 0; i < data.length; i++) {
                    let col = [];
                    col.push(data[i]['sido_nm']);
                    col.push(data[i]['books_count']);
                    dataset.push(col);
                }
                // w = $('.sparkline10-graph').width();
                c3.generate({
                    bindto: '#pie1',
                    data: {
                        columns: dataset,
                        type: 'pie',
                        onclick: function (d, i) {
                            drawPie(d["name"]);
                        }
                    },
                    color: {
                        pattern: [
                            'rgba(255, 99, 132, 0.5)',
                            'rgba(54, 162, 235, 0.5)',
                            'rgba(255, 206, 86, 0.5)',
                            'rgba(75, 192, 192, 0.5)',
                            'rgba(153, 102, 255, 0.5)',
                            'rgba(255, 159, 64, 0.5)',
                            'rgba(230, 62, 91, 0.5)',
                            'rgba(242, 98, 121, 0.5)',
                            'rgba(75, 37, 109, 0.5)',
                            'rgba(63, 100, 126, 0.5)',
                            'rgba(82, 204, 206, 0.5)',
                            'rgba(140, 212, 122, 0.5)',
                            'rgba(160, 158, 214, 0.5)',
                            'rgba(246, 143, 160, 0.5)',
                            'rgba(210, 105, 30, 0.5)',
                            'rgba(180, 168, 81, 0.5)',
                            'rgba(195, 54, 44, 0.5)'
                        ]
                    }
                });
            }
        });

        function drawPie(name) {
            $.ajax({
                "url": "/gun/" + name,
                "method": "GET",
                "dataType": "json",
                "success": function (data, status, xhr) {
                    let dataset = [];
                    for (let i = 0; i < data.length; i++) {
                        let col = [];
                        col.push(data[i]["gungu_nm"]);
                        col.push(data[i]["books_count"]);
                        dataset.push(col);
                    }
                    $('.gun-pie').html(name + " 도서수 합계 비율");
                    // w = $('.sparkline10-graph').width();
                    c3.generate({
                        bindto: '#pie2',
                        data: {
                            columns: dataset,
                            type: 'pie'
                        },
                        color: {
                            pattern: [
                                'rgba(255, 99, 132, 0.5)',
                                'rgba(54, 162, 235, 0.5)',
                                'rgba(255, 206, 86, 0.5)',
                                'rgba(75, 192, 192, 0.5)',
                                'rgba(153, 102, 255, 0.5)',
                                'rgba(255, 159, 64, 0.5)',
                                'rgba(230, 62, 91, 0.5)',
                                'rgba(242, 98, 121, 0.5)',
                                'rgba(75, 37, 109, 0.5)',
                                'rgba(63, 100, 126, 0.5)',
                                'rgba(82, 204, 206, 0.5)',
                                'rgba(140, 212, 122, 0.5)',
                                'rgba(160, 158, 214, 0.5)',
                                'rgba(246, 143, 160, 0.5)',
                                'rgba(210, 105, 30, 0.5)',
                                'rgba(180, 168, 81, 0.5)',
                                'rgba(195, 54, 44, 0.5)'
                            ]
                        }
                    });
                }
            });
        };

        drawPie("경기도");
    });
</script>
{% endblock %}