{% extends 'base.html' %}

{% load static %}

{% block title %}도서관 상세정보 조회{% endblock %}

{% block content %}
<div class="courses-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12" style="width:100%">
                <div class="courses-inner res-mg-b-30">
                    {% for res in result %}
                    <div class="courses-title">
                        <h2>{{ res.name }}</h2>
                    </div>
                    <div class="courses-alaltic">
                        <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-clock"></i></span> 1 Year</span>
                        <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-heart"></i></span> 50</span>
                        <span class="cr-ic-r"><span class="course-icon"><i class="fa fa-dollar"></i></span> 500</span>
                    </div>
                    <div class="course-des">
                        <p><span><i class="fa fa-clock"></i></span> <b>휴관일:</b> &nbsp;{{ res.close_day }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>평일오픈시각:</b> &nbsp;{{ res.every_open }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>평일종료시각:</b> &nbsp;{{ res.every_close }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>토요일오픈시각:</b> &nbsp;{{ res.sat_open }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>토요일종료시각:</b> &nbsp;{{ res.sat_close }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>공휴일오픈시각:</b> &nbsp;{{ res.holiday_open }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>공휴일종료시각:</b> &nbsp;{{ res.holiday_close }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>좌석수:</b> &nbsp;{{ res.seats }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>도서자료수:</b> &nbsp;{{ res.books }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>대여가능권수:</b> &nbsp;{{ res.loanable_books }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>대여가능일수:</b> &nbsp;{{ res.loanable_days }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>도로명주소:</b> &nbsp;{{ res.address }}</p>
                        <p><span><i class="fa fa-clock"></i></span> <b>전화번호:</b> &nbsp;{{ res.phone_number }}</p>
                    </div>
                    {% endfor %}
                    <div class="product-buttons">
                        <button type="button" class="button-default cart-btn api-btn">네이버에서 조회</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- map -->
<div class="data-map-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="display:none">
                <div class="sparkline8-list responsive-mg-b-30">
                    <div class="sparkline8-hd">
                        <div class="main-sparkline8-hd">
                            <h1>Data Map Style 1</h1>
                        </div>
                    </div>
                    <div class="sparkline8-graph">
                        <div class="data-map-single">
                            <div id="basic_map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="display:none">
                <div class="sparkline9-list">
                    <div class="sparkline9-hd">
                        <div class="main-sparkline9-hd">
                            <h1>남기고 싶은 지도</h1>
                        </div>
                    </div>
                    <div class="sparkline9-graph">
                        <div class="data-map-single">
                            <div id="selected_map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width:100%">
                <div class="sparkline7-list mg-tb-30 responsive-mg-b-0">
                    <div class="sparkline7-hd">
                        <div class="main-spark7-hd">
                            <h1>Data Map Style 3</h1>
                        </div>
                    </div>
                    <div class="sparkline7-graph">
                        <div class="data-map-single">
                            <div id="usa_map"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="display:none">
                <div class="sparkline10-list mg-tb-30">
                    <div class="sparkline10-hd">
                        <div class="main-sparkline10-hd">
                            <h1>Data Map Style 4</h1>
                        </div>
                    </div>
                    <div class="sparkline10-graph">
                        <div class="data-map-single">
                            <div id="arc_map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="display:none">
                <div class="sparkline11-list res-mg-b-30">
                    <div class="sparkline11-hd">
                        <div class="main-spark7-hd">
                            <h1>Data Map Style 5</h1>
                        </div>
                    </div>
                    <div class="sparkline11-graph">
                        <div class="data-map-single basic-choropleth">
                            <div id="basic_choropleth" style="position: relative; width: 100%; height: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="display:none">
                <div class="sparkline12-list">
                    <div class="sparkline12-hd">
                        <div class="main-sparkline12-hd">
                            <h1>Data Map Style 6</h1>
                        </div>
                    </div>
                    <div class="sparkline12-graph">
                        <div class="data-map-single">
                            <div id="projection_map" style="position: relative; width: 100%; height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra-script%}
<script src="/static/js/data-map/d3.min.js"></script>
<script src="/static/js/data-map/topojson.js"></script>
<script src="/static/js/data-map/datamaps.all.min.js"></script>
<script src="/static/js/data-map/data-maps-active.js"></script>
<script src="/static/js/tab.js"></script>
<script>
    $(function(){
        $('.api-btn').on('click', function(event){
            event.preventDefault();
            event.stopPropagation();

            let name = $('.courses-title h2').html();

            $.ajax({
                "url": "/search/detail/naver/" + name,
                "method": "GET",
                "dataType": "json",
                "success": function(data, status, xhr){
                    for (let i=0; i < data.length; i++) {
                        alert(data[i]['title']);
                        alert(data[i]['description']);
                    }
                },
                "error": function(xhr, status, err){
                    alert("Cannot search in Naver.");
                }
            });
        });
    });
</script>
{% endblock %}
